extends base

block content 
    if errorMessage 
        div 
            h2=errorMessage
    form(method="POST")
        input(name="old" placeholder="Old Password", required, type="password")
        input(name="newPassword" placeholder="New Password", required, type="password")
        input(name="confirmPassword" placeholder="New Confirmation Password", required, type="password")
        input(type="submit", value="Change Password")